#error404 p, #error404 h3, #title {margin: 0;}
#error404 img {width: 300px; padding: 40px 40px 0px;}

#text {font-style: italic;}

#quotes {margin: auto; padding: 8px; background: #F3F3F3; border: 1px solid #777777; max-width: 400px;}

.small-txt {font-size: 10px; color: #777777;}
