/* Botões de cor única
--------------------------------------------------------------------------------------------------------------- */
.btn-orange {display:inline-block; padding:8px 18px 10px; text-transform: uppercase; border:1px solid #E43F21; color:#FFFFFF; background-color:#E43F21;}
.btn-big {font-size: 1.2rem; padding: 16px 20px;}

.nav-emphasys, .nav-emphasys:hover {color: #FFFFFF !important; background-color: #E43F21 !important; padding: 8px !important; border-radius: 5px;}

.hover-zoom:hover {transform: scale(1.1);}

#breadcrumb {padding-top: 30px; color: #FFFFFF;}

.red-gradient {background: linear-gradient(180deg, #9D2E19, #C6422B);}
.green-gradient {background: linear-gradient(180deg, #197341, #1F9454);}
.blue-gradient {background: linear-gradient(180deg, #184B78, #20629B);}
.purple-gradient {background: linear-gradient(180deg, #640C3F, #8E146E);}
.orange-gradient {background: linear-gradient(180deg, #B9470F, #C66F22);}


h1 {font-size: 6rem;}
h2 {font-size: 3.75rem;}
h3 {font-size: 2.5rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.5rem;}
h6 {font-size: 1rem;}

@media screen and (max-width:900px){
	h1 {font-size: 4.5rem;}
	h2 {font-size: 3.5rem;}
}

@media screen and (max-width:650px){
	h1 {font-size: 3rem;}
	h2 {font-size: 2rem;}
	h3 {font-size: 1.7rem;}
	h4 {font-size: 1.4rem;}
	h5 {font-size: 1.2rem;}
}

@keyframes showSlide {
    from {opacity: 0;}
    to {opacity: 1;}
}
.top-layer { animation-name: showSlide; animation-timing-function: ease-in-out; animation-duration: 2s;}

.shadow {box-shadow: #171515;}
.shadow-text {text-shadow: 1px 1px 10px #313131;}

.content {margin-bottom: 4rem;}
.content a {display: block;}

.justify {text-align: justify;}
.jusp p {text-align: justify;}

/* Backgrounds
--------------------------------------------------------------------------------------------------------------- */
.bgded {position: relative;}
.bg-img {position: absolute; top:0; left:0; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 70% 50%;}
.bg-text {position: relative; z-index: 100;}
.bg-gradient {background: linear-gradient(180deg, #18100da8, #2424249c); position: relative; z-index: 99;}
.bg-fallback {z-index: 1;}

/* Linhas
--------------------------------------------------------------------------------------------------------------- */
.row-white {color:#646464; background-color:#FFFFFF;}
.row-light-gray {color:#555555; background-color:#E8E8E8;}
.row-dark-gray {color:#CBCBCB; background-color:#32353C;}
.row-orange {color: #FFFFFF; background-color: #E43F21;}

/* Tela de carregamento
--------------------------------------------------------------------------------------------------------------- */
#loading-screen {width: 100vw; height: 100vh; position: sticky; top: 0; left: 0; z-index: 300; background: #E1E1DF;}
#loading-screen span {color: #606060; position: absolute; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#loading-screen img {max-width: 70vw; display: block; margin: 30px;}
#loading-screen i {margin-right: auto;}

/* Botões redes sociais (dependem do Font Awesome)
--------------------------------------------------------------------------------------------------------------- */
.btn-social {display:block; height: 40px; width:100%; margin: 10px 4px; line-height:40px; font-size:20px; text-align:center;}
.btn-social {color:#32353C; background-color:#F7F7F7; font-family: Roboto, Helvetica, Arial, Verdana, sans-serif;}
.btn-social:hover {filter: brightness(120%);}

/* O uso de !important é desaconselhado, mas neste caso não houve alternativa... */
.btn-facebook {color:#FFFFFF; background-color:#3B5998 !important;}
.btn-blog {color:#FFFFFF; background-color:#DB4A39 !important;}
.btn-linkedin {color:#FFFFFF; background-color:#0E76A8 !important;}
.btn-instagram {color:#FFFFFF; background-color: #C13584 !important;}
.btn-github {color:#FFFFFF; background-color: #171515 !important;}
